@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



body{
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 84px;
    background: rgba(16, 1, 56, 0.5);
    display : flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}

header .menu-mobile ul{
    display: none;
}

header .btn-mobile{
    display: none;
}

header .logo {
    width: 60%;
    display:flex;
}

header .logo img{
    width: 71px;
    margin-left: 5px;
}

header .divi ul{
    color: #d6ec10;
    text-align: left;
    margin-top: 28px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

header .idioma ul{
    color:#ffffff;
    text-align: center;
    width: 160px;
    font-size: 0.75rem;
    list-style: none;
    margin-top: 3px;
    
}

header .idioma ul li{
    margin-top: 3px;    
}

header .idioma ul li a{
    text-decoration: none;
    color: #ffffff;
}

header .idioma ul li a:hover{
    color: #d6ec10;
    cursor: pointer;
}

header .menu ul{
    display: flex;
}

header .menu ul li {
    padding: 0 20px;
    list-style: none;
}

header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.5s ease;
    font-size: 1rem;
}

header .menu ul li a:hover {
    color: #d6ec10;
}

header .di{
    width: 950px;
}



/*===== Main Home =====*/

#home .container{
    width: 100%;
    height: 100vh;
    background: url(image/creative1.png);
    background-size: cover;
    box-shadow: 0 0 10px 0 rgba(1, 5, 8, 0.5);
    transition: 0.4s ease;
}

#home .container .icons{
    width: 10%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    position: fixed;
    z-index: 999;
}

#home .container .icons ion-icon{
    padding:30px 0;
    font-size: 1.5rem;
    color: #ffffff;
    transition: 0.5s ease;
}

#home .container .icons ion-icon:hover{
    color: #d6ec10;
}

#home .container .title{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
    text-shadow: 0 0 15px rgb(2, 0, 0);
}

#home .container .title h1{
    color:#d6ec10;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-top: 220px;
    margin-left: 30px;
    
}

#home .container .title h2{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.9rem;
    margin-left: 30px;
    text-align: center;
    
}

#home .container .title h3{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-left: 35px;
    text-align: center;
    
}

#home .container .imagem img{
    width:450px;    
    margin-top: 45px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}



/*===== Sobre =====*/

#sobre .container {
    width: 100%;
    height: 100vh;
    background: url(image/creative_71.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(1, 5, 8, 0.5);
    transition: 0.4s ease;
}

#sobre .container .title{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
    margin-left: 50px;
}

#sobre .container .title h1{
    color:#d6ec10;
    text-transform: uppercase;
    font-size: 1.30rem;
    text-align: left;
    margin-top: 130px;
}

#sobre .container .title p{
    color: #ffffff;
    width: 500px;
    margin-top: 20px;
    font-size: 0.85rem;
    text-align: justify;
}



#sobre .container .box-title{
    width: 420px;
    height:37vh;
    margin-top: 15px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(21,111,195,0.5);
    border-radius: 20px;
}

#sobre .container .box-title span{
    color: #ffffff;
    font-size: 0.7rem;
}

#sobre .container .box-title p{
    font-size: 0.7rem;
    margin-top: 10px;
}

#sobre .container .box-title .b1{
    width: 400px;
    height: 6px;
    background: #ffffff;
    margin-top: 1px;
    border-radius: 5px;
}

#sobre .container .box-title .b2{
    width: 400px;
    height:6px;
    background: #156fc3;
    border-radius: 5px;
}

#sobre .container .box-title .b3{
    width: 400px;
    height:6px;
    background: #156fc3;
    border-radius: 5px;
}

#sobre .container .box-title .b4{
    width: 400px;
    height:6px;
    background: #156fc3;
    border-radius: 5px;
}

#sobre .container .box-title .b5{
    width: 400px;
    height:6px;
    background: #156fc3;
    border-radius: 5px;
}

#sobre .container .box{
    width: 170px;
    height: 140px;
    margin-top: 420px;
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
    margin-right: 30px;
    border-radius: 20px;
}

#sobre .container .curriculo{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

#sobre .container .curriculo a{    
    text-decoration: none;
    color: #ffffff;    
    font-size: 0.8rem;
}

#sobre .container .curriculo a span{
    position: relative;
    font-size: 16px;
    left: 8px;
    top: 4px;    
}

#sobre .container .curriculo a:hover{
    color: #d6ec10;
    transition: 0.4s ease;
}

/*===== portfolio =====*/

#port .container{
    width:100%;
    height:100vh;
    background: url(image/teste1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px 0 rgb(1, 5, 8);
    transition: 0.4s ease;
}

#port .container input[type=radio]{
    display: none;
}

#port .container .card{
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 100px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgb(209, 245, 48);
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 0 0 15px rgb(2, 0, 0);
}

#port .container .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#port .container .card h1{
    position: absolute;
    z-index: 9;
    color: #ffffff;
    font-size: 6rem;
    margin-top: 60px;
}

#port .container .card p{
    position: absolute;
    z-index: 9;
    width: 400px;
    color: #ffffff;
    margin-top: 200px;
    text-align: justify;
}

#port .container .card button{
    position: absolute;
    z-index: 9;
    margin-top: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background: rgba(21,111,195,0.5);
    text-transform: uppercase;    
    cursor: pointer;
}

#port .container .cards{
    position: relative;
    width: 100%;
    height:100%;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

/*===== contato =====*/

#cont .container{
    width:100%;
    height:100vh;
    background: url(image/031.png);
    background-size: cover;
    box-shadow: 0 0 50px 0 rgb(0, 0, 0);
    transition: 0.4s ease;
}

#cont .container .content-contact{
    width:80%;
    height: 60vh;
    margin: 0 auto;
    padding: 200px 0;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

#cont .content-contact .contact-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#cont .content-contact .contact-left h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(209, 245, 48);
}

#cont .content-contact .contact-left .linha{
    width: 245px;
    height: 3px;
    background: rgb(209, 245, 48);
    margin-top: 5px;
    margin-bottom: 17.5px;
}

#cont .content-contact .contact-left ion-icon{
    font-size: 1.5rem;
    padding: 5px 0;
}
#cont .content-contact .contact-left span{
    font-size: 1rem;
    padding: 5px 0;
    margin-bottom: 15px;
}

#cont .content-contact .contact-right{
    width: 45%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#cont .content-contact .contact-right h1{
    font-size: 2rem;
    text-transform: uppercase;    
    color: rgb(209, 245, 48);
    text-align: center;
}

#cont .content-contact .contact-right .linha{
    width: auto;
    height: 3px;
    background: rgb(209, 245, 48);
    margin-top: 5px;
    margin-bottom: 17.5px;
    
}


#cont .content-contact .contact-right input[type=email],
#cont .content-contact .contact-right input[type=text]{
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}

#cont .content-contact .contact-right textarea{
    width: 100%;
    height:120px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    padding: 15px 20px;
}

#cont .content-contact .contact-right button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background: rgba(21,111,195,0.5);
    text-transform: uppercase;    
    cursor: pointer;
}

/*===== footer =====*/

footer{
    width: 100%;
    height: 50px;
    font-size: 12px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    background: rgba(16, 1, 56, 0.5);
    position: relative;
    top: -50px;
}

footer a{
    color: rgb(209, 245, 48);
}


#agradecimento .container{
    width: 100%;
    height: 100vh;
    background: url(image/top.png);
    background-size: cover;
    box-shadow: 0 0 10px 0 rgba(1, 5, 8, 0.5);
    transition: 0.4s ease;
}

#agradecimento .container .title{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}

#agradecimento .container h1{
    color: #ffffff;
    font-size: 1.8rem;
    margin-left: 30px;
    margin-bottom: 20px;
}

#agradecimento .container h2{
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 40px;
    text-align: end;
}

#agradecimento .container h3{
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

#agradecimento .container .box{
    width: 420px;
    height: 20vh;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(249, 252, 255, 0.918);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#agradecimento .container .box p{
    color: #ffffff;
    margin-top: 5px;
}

#agradecimento .container .title button{
    padding: 7px 14px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background: rgba(21,111,195,0.5);
    text-transform: uppercase;    
    cursor: pointer;
}
#agradecimento .container .icons{
    width: 10%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    position: fixed;
    z-index: 999;
}

#agradecimento .container .icons ion-icon{
    padding:30px 0;
    font-size: 1.5rem;
    color: #ffffff;
    transition: 0.5s ease;
}

#agradecimento .container .icons ion-icon:hover{
    color: #d6ec10;
}



/*===== responsivo =====*/

@media screen and (max-width: 1280px){

    header .divi ul{
        font-size: 1.1rem;
    }

    header .menu-mobile ul{
        display: none;
    }
    
    header .btn-mobile{
        display: none;
    }

    #home .container .icons ion-icon{
        font-size: 1.15rem;        
    }

    #home .container .title h1{
        font-size: 1.65rem;
    }

    #home .container .title h2{
        font-size: 0.75rem;
        letter-spacing: 4.5px;
    }

    #home .container .title h3{
        font-size: 0.7rem;
        letter-spacing: 4.5px;
    }

    #sobre .container .box-title{
        height:33vh;
    }

    #sobre .container .box-title span{
        color: #ffffff;
        font-size: 0.6rem;
    }
    
    #sobre .container .box-title p{
        font-size: 0.6rem;
        margin-top: 7px;
    }

    #port .container .card h1{
        font-size: 4.5rem;        
    }
    
    #port .container .card p{
        width: 280px;
        font-size: 0.8rem;
    }

    #port .container .card button{
        margin-top: 360px;      
    }

    #cont .content-contact .contact-left h1{
        font-size: 1.75rem;
    }

    #cont .content-contact .contact-left .linha{
        width: 215px;
        margin-top: 4px;
        margin-bottom: 16.5px;
    }

    #cont .content-contact .contact-left ion-icon{
        font-size: 1.3rem;
        padding: 5px 0;
    }
    #cont .content-contact .contact-left span{
        font-size: 1rem;
        padding: 5px 0;
        margin-bottom: 10px;
    }

    #cont .content-contact .contact-right h1{
        font-size: 1.75rem;
        text-transform: uppercase;    
        color: rgb(209, 245, 48);
    }
    
    #cont .content-contact .contact-right .linha{
        width: 355px;
        margin-top: 4px;
        margin-bottom: 16.5px;
    }
    
    
    #cont .content-contact .contact-right input[type=email],
    #cont .content-contact .contact-right input[type=text]{
        margin-bottom: 20px;
        font-size: 0.85rem;
    }
    
    #cont .content-contact .contact-right textarea{
        height:110px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 960px){
  
    header .logo{
        width: 600px;
    }

    header .divi{
        padding: 0px;
    }

    header .menu{
        display:none;
    }
    
    header .btn-mobile{
        display: block;
    }

    header .btn-mobile ion-icon {
        color: #ffffff;
        font-size: 1.5rem;
        margin-left: 5px;
        margin-right: 15px;        
    }

    header .btn-mobile ion-icon:hover{
        cursor: pointer;
        color: #d6ec10;
    }

    header .menu-mobile{
        display: none;
        width: 22%;
        height: 29vh;
        box-shadow: 0 0 15px 0 rgb(209, 245, 48);
        position: fixed;
        top: 5px;
        border-radius: 10px;
        background: #1d195c;
    }

    header .menu-mobile ul{
        display: block;
        text-align: center;
    }

    header .menu-mobile ul li a:hover{
        color: #d6ec10;
        
    }

    header .menu-mobile ul li{
        list-style: none;
        padding: 10px 0;
    }

    header .menu-mobile ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 0.7rem;
    }

    header .logo img{
        margin-left: 0px;
        width: 71px;
    }

    header .divi ul{
        text-align: left;
        margin-top: 32px;
        margin-left: 10px;
        font-size: 0.9rem;
    }

    header .di{
        width: 450px;
    }
    

    #home .container{
        background: url(image/creative_20.png);    
        width: auto;    
    }

    #home .container .imagem img{
        width:315px;
    }
    #home .container .title{
        align-items: center;
    }

    #home .container .title h1{
        text-align: center;
        font-size: 1.7rem;
    }
    #home .container .title h2{
        align-items: justify;
        margin-top: 8px;
        letter-spacing: 2px;
    }

    #home .container .title h3{
        letter-spacing: 2px;
    }

    #sobre .container .title{
        align-items: left;
        flex-direction: column;
        justify-items: center;
        margin-left: 15px;
    }

    #sobre .container .title h1{
        text-align: center;
        margin-top: 75px;
    }

    #sobre .container .title p{
        width: auto;
        font-size: 0.7rem;
    }

    #sobre .container .box-title{
        width: 270px;
        height:31vh;
        margin-top: 5px;
        margin-right: 10px;
    }

    #sobre .container .box-title .b1{
        width: 250px;
        height: 4px;
    }

    #sobre .container .box-title .b2{
        width: 250px;
        height: 4px;
    }

    #sobre .container .box-title .b3{
        width: 250px;
        height: 4px;
    }

    #sobre .container .box-title .b4{
        width: 250px;
        height: 4px;
    }

    #sobre .container .box-title .b5{
        width: 250px;
        height: 4px;
    }

    #sobre .container .box-title span{
        color: #ffffff;
        font-size: 0.6rem;
    }
    
    #sobre .container .box-title p{
        font-size: 0.6rem;
        margin-top: 5px;
    }

    #sobre .container .box{
        width: 90px;
        height: 140px;
        margin-top: 420px;
        box-shadow: 0 0 10px 0 rgb(255, 255, 255);
        
        border-radius: 20px;
    }
    
    #sobre .container .curriculo{
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
    }

    #sobre .container .curriculo p{
        font-size: 0.5rem;
    }
    
    #sobre .container .curriculo a{    
        text-decoration: none;
        color: #ffffff;    
        font-size: 0.6rem;
        left: 2px;
    }
    
    #sobre .container .curriculo a span{
        position: relative;
        font-size: 10px;
        left: 3px;
        top: 2px;    
    }

    
    #port .container .card h1{
        font-size: 2.3rem;
        margin-top: 30px;
    }
    
    #port .container .card p{
        font-size: 0.75rem;
        width: auto;
        margin-top: 150px;
        text-align: center;
    }
    


    #cont .container .content-contact{
        width:100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    #cont .content-contact .contact-left h1{
        font-size: 1.05rem;
        margin-left: auto;
        margin-right: auto;
    }

    #cont .content-contact .contact-left .linha{
        width: 185px;
        margin-top: 4px;
        margin-bottom: 7.5px;
        margin-left: auto;
        margin-right: auto;
    }

    #cont .content-contact .contact-left ion-icon{
        font-size: 1rem;
        padding: 5px 0;
        margin-left: auto;
        margin-right: auto;
    }

    #cont .content-contact .contact-left span{
        font-size: 0.8rem;
        padding: 4px 0;
        margin-left: auto;
        margin-right: auto;
    }

    #cont .content-contact .contact-right h1{
        font-size: 1.05rem;
        margin-right: auto;
        margin-left: auto;
    }
    
    #cont .content-contact .contact-right .linha{
        width: 218px;
        margin-top: 4px;
        margin-bottom: 10.5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    #cont .content-contact .contact-right input[type=email],
    #cont .content-contact .contact-right input[type=text]{
        margin-bottom: 10px;
        font-size: 0.85rem;
    }
    
    #cont .content-contact .contact-right textarea{
        height:85px;
        font-size: 0.85rem;
        margin-bottom: 5px;
    }

    #cont .content-contact .contact-right button{
        padding: 7px 14px;
        border-radius: 20px;
        border: none;
        color: #ffffff;
        background: rgba(21,111,195,0.5);
        text-transform: uppercase;    
        cursor: pointer;
    }

    #agradecimento .container{
        background: url(image/top2.png);
        background-size: cover;
    }
    
    #agradecimento .container .title{
        align-items: center;
        text-align: center;
    }
    
    #agradecimento .container h1{
        font-size: 1.6rem;
        margin-top: 130px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    
    #agradecimento .container h2{
        font-size: 1.3rem;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #agradecimento .container h3{
        font-size: 1.1rem;
        margin-bottom: 30px;
    }
    
    #agradecimento .container .box{
        width: auto;
    }
    
    
    #agradecimento .container .title button{
        background: rgba(19, 79, 136, 0.767);
    }
    #agradecimento .container .icons{
        padding: 0 20px;
    }
    
    #agradecimento .container .icons ion-icon{
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 305px) and (max-height:648px){
    header .logo {
        width: 45%;
    }
 
    header .divi ul{
        margin-top: 18px;
        margin-left: 7px;
        font-weight: bold;
        font-size: 0.5rem;
        padding-right: 5px;
    }

    header .idioma ul{
        width: 120px;
        font-size: 0.4rem;    
        padding-left: 5px;
    }

    header .btn-mobile{
        font-size: 0.5rem;
        align-items: start;
    }

    header .menu-mobile{
        display: none;
        width: 26%;
        height: 27vh;
        box-shadow: 0 0 15px 0 rgb(209, 245, 48);
        position: fixed;
        top: 5px;
        border-radius: 10px;
        background: #1e195cef;
    }

    header .menu-mobile ul{
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    #home .container .icons{
        padding-left: 18px;
    }

    #home .container .icons ion-icon{
        font-size: 0.80rem;        
    }

    #home .container .title{
        align-items: center;
        text-shadow: 0 0 15px #000000;
    }

    #home .container .title h1{
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-top: 170px; 
        text-align: center;
    }    
  
    #home .container .imagem img{
        width:270px;    
        margin-top: 25px;
        margin-bottom: 0px;
    }

    #sobre .container .box{
        margin-top: 185px;
        margin-left: 203px;
        position: absolute;
        width: 65px;
        height: 130px;
    }

    #sobre .container .title{
        width: 240px;
        height: 100vh;
        position: absolute;
        margin-top: 20px;
        justify-content: left;
        padding-left: 35px;
    }

    #sobre .container .box-title{
        width: 225px;
        height:32vh;
        margin-top: 15px;
        padding: 0 10px;
        box-shadow: 0 0 10px 0 rgba(21,111,195,0.5);
        border-radius: 20px;
    }
    
    #sobre .container .box-title span{
        color: #ffffff;
        font-size: 0.5rem;
    }
    
    #sobre .container .box-title .b1{
        width: 205px;
        height: 6px;
        background: #ffffff;
        margin-top: 1px;
        border-radius: 5px;
    }
    
    #sobre .container .box-title .b2{
        width: 205px;
        height:6px;
        background: #156fc3;
        border-radius: 5px;
    }
    
    #sobre .container .box-title .b3{
        width: 205px;
        height:6px;
        background: #156fc3;
        border-radius: 5px;
    }
    
    #sobre .container .box-title .b4{
        width: 205px;
        height:6px;
        background: #156fc3;
        border-radius: 5px;
    }
    
    #sobre .container .box-title .b5{
        width: 205px;
        height:6px;
        background: #156fc3;
        border-radius: 5px;
    }

    #sobre .container .title h1{
        font-size: 0.7rem;        
    }

    #sobre .container .title p{
        font-size: 0.5rem;
    }

    #port .container .card h1{
        font-size: 1.4rem;
        margin-top: 20px;
    }

    #port .container .card p{
        font-size: 0.65rem;
        width: auto;
        margin-top: 120px;
        text-align: center;
    }

    #port .container .card #song-3 p{
        text-shadow: 0 0 15px #000000;
    }

    #cont .content-contact .contact-left{
        align-items: center;
        text-align: center;
    }

    #cont .content-contact .contact-left h1{
        font-size: 1rem;
        margin-top: 25px;
        
    }

    #cont .content-contact .contact-left .linha{
        width: 135px;
        margin-top: 1px;
        margin-bottom: 4.5px;
        
    }

    #cont .content-contact .contact-left ion-icon{
        font-size: 0.8rem;
        margin-top: 2px;
    }

    #cont .content-contact .contact-left span{
        font-size: 0.7rem;
        margin-bottom: 2px;
        
    }

    #cont .content-contact .contact-right{
        align-items: center;
        padding: 0px;
    }

    #cont .content-contact .contact-right h1{
        font-size: 0.85rem;
        width: 210px;
        position: absolute;
        margin-top: 5px;
    }
    
    #cont .content-contact .contact-right .linha{
        position: absolute;
        width: 190px;
        margin-top: 25px;
    }

    #cont .content-contact .contact-right input[type=text]{
        margin-top: 35px;
    }

    #cont .content-contact .contact-right input[type=email],
    #cont .content-contact .contact-right input[type=text],
    #cont .content-contact .contact-right textarea{
        width:185px;
    }

    #agradecimento .container .title h1{
        font-size: 1.3rem;
        margin-top: 150px;
    }

    #agradecimento .container .title h2{
        font-size: 1rem;
    }

    #agradecimento .container .box p{
        font-size: 0.7rem;
        margin-top: 10px;
    }

    #agradecimento .container .icons ion-icon{
        font-size: 0.90rem;        
    }

}